// Variable overrides
$font-size-base: 0.875rem;
$primary-base: rgb(29 132 155);

// $sidebar-nav-link-active-color: rgba(29, 132, 155, 0.74);
// $sidebar-nav-link-active-bg: rgb(29, 132, 155);

$link-color: rgb(17, 0, 254);
$breadcrumb-active-color: #000000;
$form-label-color: #000000;
$card-cap-color: #000000;
$table-color: #000000;
